.loading__icon {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    circle {
      position: absolute;
      fill: none;
      stroke-width: 6px;
      stroke-linecap: round;
      stroke-linejoin: round;
      transform: rotate(-100deg);
      transform-origin: center;

      &.back {
        @apply stroke-[#c3c8de];
      }
      &.front {
        @apply stroke-primary;
      }
    }

    &.circle-outer {
      height: 66px;
      width: 66px;
      circle {
        stroke-dasharray: 62.75 188.25;
        &.back {
          animation: circle-outer135 1.8s ease infinite 0.3s;
        }
        &.front {
          animation: circle-outer135 1.8s ease infinite 0.15s;
        }
      }
    }
    &.circle-middle {
      height: 40px;
      width: 40px;

      circle {
        stroke-dasharray: 42.5 127.5;
        &.back {
          animation: circle-middle6123 1.8s ease infinite 0.25s;
        }
        &.front {
          animation: circle-middle6123 1.8s ease infinite 0.1s;
        }
      }
    }
    &.circle-inner {
      height: 14px;
      width: 14px;
      circle {
        stroke-dasharray: 22 66;
        &.back {
          animation: circle-inner162 1.8s ease infinite 0.2s;
        }
        &.front {
          animation: circle-inner162 1.8s ease infinite 0.05s;
        }
      }
    }
  }

  .text {
    position: absolute;
    bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    &::before,
    &::after {
      content: attr(data-text);
    }

    &::before {
      @apply text-muted-foreground;
    }
    &::after {
      @apply text-primary;
      animation: text-animation76 3.6s ease infinite;
      position: absolute;
      left: 0;
    }
  }
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}
